.step-title {
    margin: 20px auto;
    font-size: 1.1em;
}

.step-number {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    color: #777;
    border: 1px solid #777777;
    border-radius: 20px;
    font-size: 1.3em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-right: 10px;
}

.sp-hr {
    width: 96%;
    margin: 100px auto 20px auto;
    display: block;
}

.base-open-port, .base-container-name {
    margin-bottom: 50px;
}

.create-new-docker {
    margin-bottom: 20px;
}

.create-docker-btn {
    float: right;
    margin-right: 50px;
    width: 200px;
}

.create-docker {
    margin-bottom: 100px;
}

.op-system-cell {
    border: 1px solid #0275d8;
    display: inline-block;
    width: 10%;
    font-size: 1.1em;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: auto 20px;
    cursor: pointer;
    color: #0275d8;
    background: #fff;
    font-weight: 900;
}

.op-system-cell:hover, .op-system-cell-active {
    color: #fff;
    background: #0275d8;
}

.base-op-system, .base-system-version, .base-open-port, .base-container-name {
    margin-left: 50px;
}
