body {
    font-family:'MyriadSetPro-Th56f6d6f4c16166', serif;
}

.side-bar {
    background: #1a78cf;
    height: 100%;
    width: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.main-window {
    margin-left: 130px;
}

.home-logo {
    background: url("../images/home-logo2.jpg");
    display: block;
    width: 100px;
    height: 138px;
}

.item-logo {
    display: block;
    margin-bottom: 10px;
}

.item-entry, .item-entry:focus{
    font-family: "VisbyRoundCF-Bo56f44d94916166", serif;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 40px 0;
    font-size: 0.75em;
    color: #a1c8ee;
    font-weight: 900;
    text-decoration: none;
}

.item-entry-active, .item-entry:hover, .item-entry-active:hover {
    color: #fff;
    text-decoration: none;
}

.welcome-header {
    text-align: right;
    margin-top: 20px;
    padding-right: 20px;
}

.username-btn {
    border: none;
    border-radius: 0;
    padding-top: 1%;
}

.main-title {
    font-size: 2em;
    margin-top: 10px;
    margin-right: 20px;
}

.nav-link {
    color: black;
}

.second-nav {
    margin-top: 20px;
    border-bottom: 1px solid dodgerblue;
    margin-right: 20px;
}

.second-nav-active, .nav-link:hover {
    color: white;
    background: dodgerblue;
    border-radius: 0 !important;
    font-weight: 900;
}

.step-container {
    margin-top: 20px;
    margin-left: 20px;
}

.step-number {
    display: inline-block;
    border: 1px solid #777777;
    border-radius: 100%;
    font-size: 1.5em;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-right: 20px;
    line-height: 40px;
}

.step-title {
    display: inline-block;
}

.step-content {
    margin: 30px auto;
}

.image-btn {
    margin: auto 10px;
    border-radius: 0;
    width: 100px;
}

.base-image-version {
    margin: 30px 10px;
}

.base-image-version > select {
    border-radius: 0;
    width: 200px;
}

.base-image-version > label {
    margin-right: 20px;
    font-size: 1.1em;
}

.components-row {
    margin: 20px auto;
}

.components-version-row {
    font-size: 1em;
    margin: 10px auto;
}

.select-components-version {
    border-radius: 0;
    width: 220px;
}

.bottom-hr {
    /*float: right;*/
    border-bottom: 1px solid #dddddd;
    width: 98%;
    margin: 20px auto;
}

.pre-create {
    width: 100%;
    margin-bottom: 100px;
}

.pre-create > button {
    width: 200px;
    border-radius: 0;
    float: right;
    margin-right: 100px;
}


