{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{  url_for("static", filename="css/index.css") }}" rel="stylesheet">
{% endblock %}
{% block title %}烛龙 - 基于Docker的环境快速构建系统{% endblock %}
{% block body %}
{% include "Frontend/navbar.html" %}
<div class="container-fluid">
    <section id="banner">
        <h1>烛龙</h1>
        <p>基于Docker的环境快速构建系统</p>
        <ul class="actions">
            <li><a href="#" class="btn btn-secondary">立即注册</a></li>
            <li><a href="#" class="btn button-link">了解更多</a></li>
        </ul>
    </section>

    <div class="introduce">
        <h1>什么是烛龙</h1>
        <hr class="hr" />
        <p class="introduce-content">烛龙是一款基于Docker的环境快速构建系统，它可以让你轻松的构建出灵活的环境。
            无需繁琐的配置，各种组合自由搭配。</p>
        <div class="introduce-img">
        </div>
        <div class="introduce-row">
            <section class="row-1">
                <span class="icon icon-lock"><i class="fa fa-lock fa-2x" style="color: white"></i></span>
                <p class="row-title">数据安全</p>
                <p class="row-content">数据全部存储在您的私人Docker中，一键销毁，保证数据安全。</p>
            </section>
            <section class="row-2">
                <span class="icon icon-rocket"><i class="fa fa-rocket fa-2x" style="color: white"></i></span>
                <p class="row-title">快速部署</p>
                <p class="row-content">一键部署，只需点击一个按钮，即可获得构建完成的环境。</p>
            </section>
        </div>
        <div class="introduce-row">
            <section class="row-3">
                <span class="icon icon-plug"><i class="fa fa-plug fa-2x" style="color: white"></i></span>
                <p class="row-title">灵活配置</p>
                <p class="row-content">多种自定义配置，满足您各种版本环境的需要。</p>
            </section>
            <section class="row-4">
                <span class="icon icon-share-alt"><i class="fa fa-share-alt fa-2x" style="color: white"></i></span>
                <p class="row-title">资源丰富</p>
                <p class="row-content">共享自己的环境，获取他人的共享环境。</p>
            </section>
        </div>
    </div>

    <div id="use-example">
        <div class="example example-left">
            <img src="{{ url_for("static", filename="images/example1.jpg") }}" width="100%" class="example-img">
            <div class="example-title">
                使用烛龙快速搭建Web渗透环境
            </div>
            <div class="example-content">
                使用烛龙，可以快速构建出Web渗透环境。各种PHP版本与Nginx的组合，快速测试0day与CVE，让您发现漏洞快人一步。
                <a href="#" class="btn btn-learn-more">了解更多</a>
            </div>
        </div>
        <div class="example example-right">
            <img src="{{ url_for("static", filename="images/example2.jpg") }}" width="100%" class="example-img">
            <div class="example-title">
                使用烛龙快速部署应用环境
            </div>
            <div class="example-content">
                通过烛龙，您可以大规模部署docker应用环境，测试您的应用，并在测试完成后提取docker file，增加部署效率，告别烦恼。
                <a href="#" class="btn btn-learn-more">了解更多</a>
            </div>
        </div>
    </div>

    <div class="footer-button">
        <a href="#" class="btn btn-join-us">立即试用</a>
    </div>

    <div id="footer">
        © Zhulong. All rights reserved. Designed by lightless.
    </div>

</div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script src="{{ url_for('static', filename="js/index.js") }}"></script>
{% endblock %}