#!/usr/bin/env python2
# coding: utf-8
# file: config.py
# time: 2016/8/17 23:16

__author__ = "lightless"
__email__ = "root@lightless.me"


class WebBaseConfig(object):

    def __init__(self):
        super(WebBaseConfig, self).__init__()


class DevConfig(WebBaseConfig):

    debug = True
    SECURITY_PASSWORD_SALT = "zhulong123456"    # !!! Change it to your own secret key !!!
    SECRET_KEY = "zhulong123456"    # !!! Change it to your own secret key !!!
    SQLALCHEMY_DATABASE_URI = "mysql+pymysql://root:root@127.0.0.1/zhulong?charset=utf8"
    SQLALCHEMY_TRACK_MODIFICATIONS = True

    # 填入你的发送信息
    MAIL_SERVER = 'smtp.xxx.com'
    MAIL_PORT = 465
    MAIL_USE_SSL = True
    MAIL_USERNAME = 'username'
    MAIL_PASSWORD = 'password'
    MAIL_DEFAULT_SENDER = ""

    # Docker Remote API URL
    # 如果dockerd监听在本机，可以使用unix://var/run/docker.sock
    # 将其中的/var/run/替换为实际路径
    DOCKER_REMOTE_API_URL = 'unix://var/run/docker.sock'

    def __init__(self):
        super(DevConfig, self).__init__()


class ProdConfig(WebBaseConfig):

    def __init__(self):
        super(ProdConfig, self).__init__()

