#!/usr/bin/env python2
# coding: utf-8
# file: config.py
# time: 2016/8/17 23:16

__author__ = "lightless"
__email__ = "root@lightless.me"


class WebBaseConfig(object):

    def __init__(self):
        super(WebBaseConfig, self).__init__()


class DevConfig(WebBaseConfig):

    debug = True
    SQLALCHEMY_DATABASE_URI = "mysql+pymysql://root:root@127.0.0.1/zhulong?charset=utf8"
    SQLALCHEMY_TRACK_MODIFICATIONS = True

    def __init__(self):
        super(DevConfig, self).__init__()


class ProdConfig(WebBaseConfig):

    def __init__(self):
        super(ProdConfig, self).__init__()

